@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 2% 9.6%;
    --foreground: 260 6.6% 64.6%;
    --accent: 342.8 97.5% 52.4%;
    --card-spotlight: rgba(161,161,170,0.1);
    --card-spotlight-border: rgba(161,161,170,1);
  }
}
