---
import SectionWrapper from "@/components/ui/SectionWrapper.astro";
import Text from "@/components/ui/Text.astro";
import type { ui } from "@/i18n/ui";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { filterByLang } from "@/utils/collections";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const about = await getCollection("about", ({ data }) =>
  filterByLang({ data, lang }),
);

console.log("heeeelooo");
console.log("about", about);
const { Content } = await about[0].render();
const { title, description } = about[0].data;
---

<SectionWrapper title={title} description={description || undefined}>
  {
    (
      <div class="prose prose-base max-w-none prose-p:text-white/50 prose-p:mt-0 prose-p:mb-4 prose-li:text-white/50 prose-li:mt-0 prose-li:mb-1">
        <Content />
      </div>
    )
  }
</SectionWrapper>
