---
import Container from "../ui/Container.astro";
import Logo from "../ui/Logo.astro";
import Navigation from "../ui/Navigation.astro";
import Text from '../ui/Text.astro'
import Divider from '../ui/Divider.astro'
---
<div
  class="w-full bg-background/30 backdrop-blur-lg mt-16"
>
<Divider />
  <Container>
    <footer class="my-12">
			<Text as='p' class="text-center">Designed and coded by me with Figma and Visual studio code</Text>
			<Text as='p' class="text-center">Built with Astro and TailwindCSS</Text>
    </footer>
  </Container>
</div>
