---
import SectionWrapper from "../ui/SectionWrapper.astro";
import Text from "../ui/Text.astro";
---

<SectionWrapper class="relative max-w-4xl">
  <div class="flex flex-col justify-center gap-2 mt-64">
    <Text as="h1" variant="title">Hi! I'm Lucas</Text>
    <Text as="p" class="text-2xl md:text-2xl">
      <span class="text-accent"> Front-end developer</span>
       with over 3 years of experience. <br />
       Dedicated to build good looking UI's with modern technologies.
    </Text>
  </div>
</SectionWrapper>
