---
import SectionWrapper from "../ui/SectionWrapper.astro";
import Text from "../ui/Text.astro";
---

<SectionWrapper class="relative max-w-6xl" divider={false}>
  <div class="flex flex-col justify-center gap-2 mt-64">
    <Text as="h1" variant="hero">
      Hi! I'm Lucas, <br />
      <span class="text-accent"> Front-end developer</span>
      <br />
       with over 3 years of experience.
    </Text>
    <Text as="p" variant="lead" class="text-white/50 mt-4">
      Dedicated to build good looking UI's with modern technologies.
    </Text>
  </div>
</SectionWrapper>
