---
import Badge from "@/components/ui/Badge.astro";
import Divider from "@/components/ui/Divider.astro";
import SectionWrapper from "@/components/ui/SectionWrapper.astro";
import SpotlightCard from "@/components/ui/SpotlightCard.astro";
import Text from "@/components/ui/Text.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<SectionWrapper title="Projects" class="group">
  <div class="flex flex-col lg:flex-row gap-8">
    {
      projects
        .sort((a, b) => new Date(b.data.date) - new Date(a.data.date))
        .map(({ data }) => (
          <SpotlightCard>
            <Text as="p" class="mt-0 text-sm pb-2">
              {data.date.toLocaleDateString()}
            </Text>
            <Text as="h3" variant="lead">
              {data.title}
            </Text>
            <Text as="p" variant="paragraph">
              {data.description}
            </Text>
            <Text as="p" variant="paragraph">
              <div class="flex gap-2 flex-wrap">
                {data.technologies?.map((tech) => (
                  <Badge>
                    <Text as="p" slot="label" class="m-0 text-white/40">
                      {tech}
                    </Text>
                  </Badge>
                ))}
              </div>
            </Text>
          </SpotlightCard>
        ))
    }
  </div>
</SectionWrapper>
