---
import BaseHead from "@/components/ui/BaseHead.astro";
import Header from "@/components/sections/Header.astro";
import Footer from "@/components/sections/Footer.astro";
import Container from "@/components/ui/Container.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import MobileNavigation from "@/components/ui/MobileNavigation.astro";
import ScrollToTop from "@/components/ui/ScrollToTop.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html lang="en" class="scroll-smooth">
  <BaseHead
    title={t("meta.title") as string}
    description={t("meta.description") as string}
    author={t("meta.author") as string}
    keywords={t("meta.keywords") as string}
  />
  <body class="group font-sans bg-background antialiased w-full">
    <MobileNavigation />
    <Header />
    <Container>
      <main>
        <slot />
      </main>
    </Container>
    <Footer />
    <ScrollToTop />
    <script>
      const body: HTMLElement | null = document.querySelector("body");
      const dividers: NodeListOf<HTMLElement> =
        document.querySelectorAll(".divider");
      const cards: NodeListOf<HTMLElement> = document.querySelectorAll(".card");

      if (body) {
        body.addEventListener("mousemove", function (e: MouseEvent) {
          dividers.forEach((div) => {
            const rect: DOMRect = div.getBoundingClientRect();
            const x: number = e.clientX - rect.left;
            const y: number = e.clientY - rect.top;

            div.style.setProperty("--xPos", `${x}px`);
            div.style.setProperty("--yPos", `${y}px`);
          });

          cards.forEach((div) => {
            const rect: DOMRect = div.getBoundingClientRect();
            const x: number = e.clientX - rect.left;
            const y: number = e.clientY - rect.top;

            div.style.setProperty("--xPos", `${x}px`);
            div.style.setProperty("--yPos", `${y}px`);
          });
        });
      }

      window.addEventListener("scroll", function () {
        const hero = document.getElementById("hero");
        const backToTopButton = document.getElementById("scroll-to-top");

        if (!hero || !backToTopButton) return;

        if (hero?.getBoundingClientRect().bottom < 300) {
          backToTopButton.classList.remove("opacity-0");
          backToTopButton.classList.add("opacity-100");
        } else {
          backToTopButton.classList.add("opacity-0");
          backToTopButton.classList.remove("opacity-100");
        }
      });

      const elements = document.querySelectorAll(".reveal");

      for (let i = 0; i < elements.length; i++) {
        const element = elements[i];
        element.classList.add(
          ..."relative opacity-0 translate-y-60 trasiton-all duration-1000 ease".split(
            " ",
          ),
        );
      }

      function scrollReveal() {
        for (let i = 0; i < elements.length; i++) {
          const element = elements[i];
          const windowHeight = window.innerHeight;
          const elementTop = element.getBoundingClientRect().top;
          const revealPosition = 0;

          if (elementTop < windowHeight - revealPosition) {
            elements[i].classList.add(
              ..."opacity-100 translate-y-0".split(" "),
            );
            elements[i].classList.remove(
              ..."opacity-0 translate-y-60".split(" "),
            );
          } else {
            elements[i].classList.remove(
              ..."opacity-100 translate-y-0".split(" "),
            );
            elements[i].classList.add(..."opacity-0 translate-y-60".split(" "));
          }
        }
      }

      window.addEventListener("scroll", scrollReveal);

      scrollReveal();
    </script>
  </body>
</html>
