---
import BaseHead from "@/components/ui/BaseHead.astro";
import Header from "@/components/sections/Header.astro";
import Footer from "@/components/sections/Footer.astro";
import Container from "@/components/ui/Container.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import MobileNavigation from "@/components/ui/MobileNavigation.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html lang="en" class="scroll-smooth">
  <BaseHead
    title={t("meta.title") as string}
    description={t("meta.description") as string}
    author={t("meta.author") as string}
    keywords={t("meta.keywords") as string}
  />
  <body class="group font-sans bg-background antialiased w-full">
    <MobileNavigation />
    <Header />
    <Container>
      <main>
        <slot />
      </main>
    </Container>
    <Footer />
  </body>
</html>
