---
import ProjectCard from "@/components/sections/projects/ProjectCard.astro";
import SectionWrapper from "@/components/ui/SectionWrapper.astro";
import { filterByLang } from "@/utils/collections";
import { getCollection } from "astro:content";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { ui } from "@/i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = await getCollection("projects", ({ data }) =>
  filterByLang({ data, lang }),
);

const title = t("projects.title") as string;
const description = t("projects.description") as string;
const content = t("projects.links") as (typeof ui)["en"]["projects.links"];
---

<SectionWrapper title={title} description={description} class="group">
  <div class="flex flex-col gap-4 mb-60">
    {
      projects
        .sort(
          (a, b) =>
            new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
        )
        .map(({ data }) => <ProjectCard data={data} linksLabels={content} />)
    }
  </div>
</SectionWrapper>
