---
import { twMerge } from "tailwind-merge";

type Props = {
  class?: string;
  direction?: "horizontal" | "vertical";
};

const { class: className, direction = "horizontal" } = Astro.props;
---

{
  direction === "horizontal" ? (
    <div
      class={twMerge(
        "divider p-[1px] my-4 w-full  bg-[radial-gradient(circle_150rem_at_0_0,_rgba(255,255,255,0),_transparent_0)] lg:group-hover:bg-[radial-gradient(circle_100rem_at_var(--xPos)_var(--yPos),_var(--card-spotlight-border),_transparent_15%)] rounded-lg flex justify-center items-center relative transition-all ease-in-out duration-75 before:h-full before:w-full before:absolute before:top-0 before:left-0 before:rounded-lg lg:before:bg-[radial-gradient(circle_at_var(--xPos)_var(--yPos),_var(--card-spotlight),_transparent_35%)] before:opacity-100 before:transition-all before:duration-75 before:group-hover:opacity-100",
        className,
      )}
    >
      <div class="w-full border border-foreground/10" />
    </div>
  ) : (
    <div class="w-px h-full bg-gradient-to-b from-white/30 via-white/10 to-transparent" />
  )
}
