---
import { twMerge } from "tailwind-merge";
const { className } = Astro.props;
---

<div class={twMerge("flex flex-col md:items-center pt-4 ", className)}>
  <slot />
</div>

<div
  class="h-px w-full bg-gradient-to-r from-white/30 via-white/10 to-transparent"
>
</div>
