---
import Button from "@/components/ui/Button.astro";

import { getLangFromUrl } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<Button
  as="a"
  href={lang === "en" ? "/" : "/es"}
  variant="outline-dimmed"
  class="text-xs md:text-base text-white/50 space-x-2 uppercase"
>
  <span>Lucas</span>
  <span>Cubilla</span>
</Button>
