---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { ui } from "@/i18n/ui";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="hidden items-center gap-8 lg:flex">
  {
    Object.entries(ui[lang])
      .filter(([key, label]) => key.includes("nav"))
      .map(([key, label]) => (
        <a
          href={"#" + key.split(".").pop()}
          class="inline-block text-sm  transition hover:text-white"
        >
          {label}
        </a>
      ))
  }
</nav>
