---
import Divider from "@/components/ui/Divider.astro";
import Text from "@/components/ui/Text.astro";
import { twMerge } from "tailwind-merge";

type Props = {
  class?: string;
  title?: string;
  description?: string;
  divider?: boolean;
};

const { class: className, title, description, divider = true } = Astro.props;
---

<section
  id={`${title?.replace(/\s/g, "_").toLowerCase()}`}
  class={twMerge(
    "w-full min-h-[calc(100svh+120px)] lg:min-h-[calc(100svh+75px)] flex flex-col justify-center mb-8",
    className,
  )}
>
  {
    title && (
      <Text as="h2" variant="title">
        {title}
      </Text>
    )
  }
  {
    description && (
      <Text as="p" variant="normal">
        {description}
      </Text>
    )
  }
  {divider && <Divider />}
  <slot />
</section>
