---
import { twMerge } from "tailwind-merge";
const { class: className } = Astro.props;
---

<article
  class={twMerge(
    "card p-[1px] w-full bg-foreground/10 bg-[radial-gradient(circle_150rem_at_0_0,_rgba(255,255,255,0),_transparent_0)] lg:group-hover:bg-[radial-gradient(circle_100rem_at_var(--xPos)_var(--yPos),_var(--card-spotlight-border),_transparent_35%)] rounded-lg flex justify-center items-center relative transition-all duration-75 before:h-full before:w-full before:absolute before:top-0 before:left-0 before:rounded-lg lg:before:bg-[radial-gradient(circle_at_var(--xPos)_var(--yPos),_var(--card-spotlight),_transparent_35%)] lg:before:opacity-100 before:transition-all before:duration-75 lg:before:group-hover:opacity-100",
    className,
  )}
>
  <div
    class="bg-background rounded-lg w-full h-full transition-all duration-75 overflow-hidden"
  >
    <div class="m-4 rounded-md overflow-hidden md:max-h-44 lg:max-h-64">
      <slot name="image" />
    </div>
    <div class="relative flex flex-col items-center gap-4 z-10 p-6 pt-0">
      <div class="flex flex-col justify-between h-full">
        <slot />
      </div>
      <slot name="footer" />
    </div>
  </div>
</article>
