---
import { twMerge } from "tailwind-merge";
import Button from "@/components/ui/Button.astro";
import { getEntries } from "astro:content";

const { data, class: className } = Astro.props;

const technologies = await getEntries(data);
---

<div class={twMerge("flex  flex-wrap", className)}>
  {
    technologies?.map(({ data }: { data: any }) => (
      <Button
        as="a"
        variant="ghost"
        href={data.url}
        target="_blank"
        class="text-sm p-2 font-normal"
      >
        {data.name}
      </Button>
    ))
  }
</div>
